* {
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: Calibri, sans-serif;
  height: 100svh;
  overflow-y: clip;
}

.image-container {
  display: none; /* changed to display: block in js after page load */
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  object-fit: cover;
  object-position: center center;
  overflow: auto;

}
.loading {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  font-weight: bold;
}

.thumbnail-container {
  background-color: rgb(50, 44, 40);;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  height: 7rem;
  width: 90%;
  overflow: hidden;
  white-space: nowrap;
  display: none; /* changed to display: flex in js after page load */
  align-items: stretch;
  gap: 3px;
  border-radius: 1rem;
  border: 3px solid rgb(42, 36, 32);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
  color-scheme: dark light;
}
.thumbnail-container:hover {
    overflow-x: auto;
}
.thumbnail-container img {
  width: 8rem;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 1025px) {
  .thumbnail-container {
    bottom: none;
    top: 1.2rem;
    width: 60%;
    height: 8rem;
  }
  .thumbnail-container img {
    width: 10rem;
  }
}
@media (min-width: 2800px) {
  .thumbnail-container {
    width: 50%;
    height: 12rem;
    top: 2rem;
  }
  .thumbail-contrainer img {
    width: 8rem;
  }
}


::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 10px;
  }
 
 ::-webkit-scrollbar-track {
   background: rgba(72, 61, 54, 0.501);;
   border-radius: 10px;
 }
 
 ::-webkit-scrollbar-thumb {
   background: rgba(176, 154, 141, 0.536);;
   border-radius: 5px;
   border: 3px solid transparent;
 }
 
 ::-webkit-scrollbar-thumb:hover {
   background: rgb(159, 137, 123);;
 }